/* Renk dönüşümü animasyonu tanımı */
@keyframes colorful {
  0% {
    filter: hue-rotate(0deg); /* Renk dönüşümü: 0 derece */
  }
  100% {
    filter: hue-rotate(360deg); /* Renk dönüşümü: 360 derece */
  }
}

/* Temel stil sıfırlama */
*,
*::before,
*::after {
  margin: 0; /* Kenar boşluğu sıfırlama */
  padding: 0; /* Dolgu sıfırlama */
  box-sizing: border-box; /* Kutu modelini kullan */
  text-decoration: none; /* Altçizgi kaldırma */
  list-style: none; /* Liste işaretlerini kaldırma */
  outline: none; /* Kenar çizgisini kaldırma */
  appearance: none; /* Görünümü kaldırma */
  border-style: none; /* Kenar tarzını kaldırma */
  color: #ffffff; /* Metin rengi */
  -webkit-font-smoothing: antialiased; /* Webkit için font pürüzsüzleştirme */
  -moz-osx-font-smoothing: grayscale; /* MacOS için font pürüzsüzleştirme */
}

/* Başlık ve paragraf elementleri için yazı tipi tanımı */
h1, h2, h3, span, p {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; /* Yazı tipi ailesi */
}

/* Sayfa genelinde kutu modeli tanımı */
html,
body {
  width: 100%; /* Genişlik: %100 */
  height: 100%; /* Yükseklik: %100 */
}

/* Sayfa genelinde stil tanımları */
body {
  position: relative; /* Pozisyon: göreli */
  overflow: hidden; /* Taşmayı gizle */
  display: flex; /* Elemanları yatay hizala */
  justify-content: center; /* Elemanları yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  flex-direction: column; /* Elemanları dikey hizala */
  padding: 2em; /* Dolgular */
  background-color: #000000; /* Arka plan rengi: siyah */
}

/* Dikey kaydırma çubuğu stillemesi */
body::-webkit-scrollbar {
  background: white; /* Arka plan rengi: beyaz */
  width: 10px; /* Genişlik */
}
body::-webkit-scrollbar-track {
  background: white; /* Arka plan rengi: beyaz */
}
body::-webkit-scrollbar-thumb {
  background: white; /* Arka plan rengi: beyaz */
  border-radius: 1px; /* Kenar yarıçapı */
}

/* Ana konteynır stillemesi */
body .container {
  position: relative; /* Pozisyon: göreli */
  z-index: 1; /* Z-indeksi */
  background-color: rgb(0, 0, 0); /* Arka plan rengi: siyah */
  display: flex; /* Elemanları yatay hizala */
  justify-content: center; /* Elemanları yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  flex-direction: row; /* Elemanları yatay hizala */
  flex-wrap: wrap; /* Elemanları sarma */
  padding: 1em; /* Dolgular */
}

/* Kart stillemesi */
.card {
  position: relative; /* Pozisyon: göreli */
  width: 300px; /* Genişlik */
  height: 400px; /* Yükseklik */
  margin: 1em; /* Kenar boşluğu */
  background-color: white; /* Arka plan rengi: beyaz */
  background: rgba(0, 0, 0, 0.05); /* Arka plan rengi */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); /* Kutu gölgesi */
  border-radius: 15px; /* Kenar yarıçapı */
  display: flex; /* Elemanları yatay hizala */
  justify-content: center; /* Elemanları yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  flex-direction: column; /* Elemanları dikey hizala */
  backdrop-filter: blur(40px); /* Arkaplanı bulanıklaştır */
  border: solid 2px transparent; /* Kenar rengi */
  background-clip: padding-box; /* Arka plan rengi */
  box-shadow: 0px 10px 10px rgba(214, 0, 0, 0.03); /* Kutu gölgesi */
}

/* Kart içeriği stillemesi */
.container .card .content {
  position: relative; /* Pozisyon: göreli */
  display: flex; /* Elemanları yatay hizala */
  justify-content: center; /* Elemanları yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  flex-direction: column; /* Elemanları dikey hizala */
  opacity: 0.5; /* Opaklık */
  transition: 0.5s; /* Geçiş efekti süresi */
}

/* Kart içeriği resim stillemesi */
.container .card .content .img {
  position: relative; /* Pozisyon: göreli */
  width: 150px; /* Genişlik */
  height: 150px; /* Yükseklik */
  border-radius: 50%; /* Kenar yarıçapı */
  overflow: hidden; /* Taşmaları gizle */
  border: 10px solid rgba(0, 0, 0, 0.25); /* Kenar rengi */
}

/* Kart içeriği resim etiketi stillemesi */
.container .card .content .img img {
  position: absolute; /* Pozisyon: mutlak */
  top: 0; /* Üst kenar */
  left: 0; /* Sol kenar */
  width: 100%; /* Genişlik: %100 */
  height: 100%; /* Yükseklik: %100 */
  object-fit: cover; /* Nesne uyumu */
}

/* Kart içeriği başlık stillemesi */
body .container .card .content .cardContent h3 {
  color: white; /* Metin rengi: beyaz */
  text-transform: uppercase; /* Metin dönüşümü: büyük harfe çevir */
  letter-spacing: 2px; /* Harf aralığı */
  font-weight: 500; /* Yazı tipi kalınlığı */
  font-size: 18px; /* Yazı tipi boyutu */
  text-align: center; /* Metin hizalama */
  margin: 20px 0 10px; /* Kenar boşluğu */
  line-height: 1.1em; /* Satır yüksekliği */
}

/* Kart içeriği başlık alt başlık stillemesi */
body .container .card .content .cardContent h3 span {
  font-size: 12px; /* Yazı tipi boyutu */
  font-weight: 300; /* Yazı tipi kalınlığı */
  text-transform: initial; /* Metin dönüşümü: ilk hali */
}

/* Kart üzerine gelindiğinde içeriğin stillemesi */
body .container .card:hover .content {
  opacity: 1; /* Opaklık */
  transform: translateY(-20px); /* Yatayda hareket */
}

/* Üstbilgi stillemesi */
header{
  display: flex; /* Elemanları yatay hizala */
  align-items: center; /* Dikeyde ortala */
  justify-content: space-between; /* Boşluk bırakarak hizala */
  width: 90%; /* Genişlik */
  margin: 10px auto; /* Kenar boşlukları */
}

/* Üstbilgi sol tarafı (logo) stillemesi */
header .left-side a img{
  width: 80px; /* Genişlik */
}

/* Üstbilgi sağ tarafı (navigasyon) stillemesi */
header .right-side{
  display: flex; /* Elemanları yatay hizala */
}

/* Navigasyon bağlantıları stillemesi */
header .right-side .nav-link-wrapper a{
  padding: 10px; /* Dolgu */
  margin: 10px; /* Kenar boşluğu */
  text-decoration: none; /* Altçizgi kaldır */
  color: rgb(255, 255, 255); /* Metin rengi */
}
